* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    flex-direction: row;
  }
  
  .coluna-esquerda, .coluna-central, .coluna-direita {
    padding: 20px;
  }
  
  .coluna-esquerda {
    width: 33.33%;
    background-color: #bfbcbc; 
  }
  
  .coluna-central {
    width: 33.33%;
    background-color: #999999; 
  }
  
  .coluna-direita {
    width: 33.33%;
    background-color: #777777; 
  }
  
  header, footer {
    background-color: #000080; 
    color: white;
    text-align: center;
    padding: 20px;
  }
  